<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <p>
      {{chat.par}}
    </p>
    <div class="list card">
      <div class="item item-avatar">
        <img src="">
        <h2>{{chat.par}}</h2>
        <p>Yards: 1,000</p>
      </div>
      <div class="item item-body">
        <p>
          Yards to Hole: {{yrdToHole}}
        </p>
      </div>
      <div class="item item-body">
        <p>
          Recommended Club: {{recommendClub}}
        </p>
      </div>
    </div>
    <a class="button button-block button-dark" href="#/tab/saveClub/{{chat.id}}">Save Club</a>
    <a class="button button-block button-dark" href="#/tab/map/{{chat.id}}">View Map</a>
  </ion-content>
</ion-view>
