<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <p>
      {{chat.par}}
    </p>
    <button class="button button-block button-dark">
      View Map
    </button>
    <a class="button icon icon-right button-black" href="#/map/facts">cha boi Faqs</a>
  </ion-content>
</ion-view>
<!-- <button onclick="window.location.href='/page2'">Continue</button> -->
